<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telyo.finemoodnote">

    <application
        android:name=".application.BassApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/login" />
        <!--计划-->
        <activity
            android:name=".ui.PlanActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/plan" />
        <!--备忘录-->
        <activity
            android:name=".ui.MemoActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/memo" />
        <!--客户管理-->
        <activity
            android:name=".ui.ContactsActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/custom_manager" />
        <!--短信管理 （后期要修改）-->
        <activity
            android:name=".ui.MessageActivity"
            android:theme="@style/MainActivityTheme"
            android:label="信息管理" />
        <!--日期选择-->
        <activity
            android:name=".ui.DatePickerActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/date_picker" />
        <!--添加新计划-->
        <activity
            android:name=".ui.NewPlanActivity"
            android:theme="@style/MainActivityTheme"
            android:label="@string/a_new_plan" />
    </application>

</manifest>